@use 'styles/variables' as *;
@use 'styles/reset';
@use 'styles/typography';
@use 'styles/mixins' as *;

@import '@angular/cdk/overlay-prebuilt.css';

body {
  background: var(--background-main);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}
